@model ICollection<Produto>
{
    ViewBag.Title = "Pagina Inicial";
}
<br />
@if (TempData["MSG_S"] != null)
{
    <br />
    <p class="alert alert-success">@TempData["MSG_S"]</p>

}
else if (TempData["MSG_D"] != null)
{
    <br />
    <p class="alert alert-danger">@TempData["MSG_D"]</p>
}
<br />
@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.First().nome_produto);
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.First().data_vencimento)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.First().valor);
                    </th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome_produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_vencimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor)
                    </td>
                    @*<td>
                        <a asp-action="Atualizar" asp-route-id="@item.Id" class="btn btn-secondary">Atualizar</a>
                        <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                        <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                    </td>*@
                </tr>

            }
        </table>
    </div>
    <div>
    </div>
}
else
{
    <span>Nenhum registro cadastrado</span>

}